<h1>Welcome to Change Converter!</h1>
<form action="/coin_combo">
  <div class="form-group">
    <label for="change">Enter your change (in cents only!):</label>
    <input type="number" name="change" id="change" class="form-control">
  </div>
  <button type="submit" class="btn btn-danger">Convert!</button>
</form>
